.navigation-bar {
    display: flex;
    color: white;
    background-image: linear-gradient(45deg, #0762b1 0%, #0762b1 100%);
}

.navigation-menu-item {
    padding: 0px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    gap: 10px;
    border-radius: 4px;
}

.navigation-menu-item:hover {
    background-color: #ffffff43;
    color: white;
    transition: 0.5s;
}

.active-link {
    background-color: #00000043 !important;
    color: white;
    transition: 0.5s;
}

