.navigation-bar {
    height: 50px;
    display: flex;
    color: #0A2235;
    background-color: white;
    box-shadow: 0px 4px 10px #00000063;
}

.navigation-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navigation-menu-item {
    padding: 13px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-menu-item:hover {
    background-image: linear-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));
    color: black;
    transition: 0.5s;
}

.active-link {
    background-image: linear-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));
    color: black;
    transition: 0.5s;
}

.icons {
    margin-right: 15px;
}