<div class="navigation-bar">
    <ul class="navigation-menu">
        <li  routerLinkActive="active-link" routerLink="/visitingcard" class="navigation-menu-item">
            <i class="icons fas fa-pen-nib"></i>Visiting Cards
        </li>
        <li  routerLinkActive="active-link" routerLink="/banner" class="navigation-menu-item"><i class="icons fas fa-pencil-alt"></i>Banners</li>
        <li routerLinkActive="active-link" routerLink="/logo" class="navigation-menu-item"><i class="icons fas fa-pen-alt"></i>Logos</li>
        <li routerLinkActive="active-link" routerLink="/flyer" class="navigation-menu-item"><i class="icons fas fa-crop-alt"></i>Flyers</li>
        <li routerLinkActive="active-link" routerLink="/post" class="navigation-menu-item"><i class="icons fas fa-object-group"></i>Post</li>
    </ul>
</div>