<form class="flex items-center justify-center bg-gradient-to-r from-zinc-950 to-indigo-950 h-16 shadow-md space-x-4">
    <ng-container *ngIf="selectedElementId else empty">
        <ng-container [ngSwitch]="selectedElementType">

            <!-- SVG Editing Options -->
            <ng-container *ngSwitchCase="1">
                <span class="text-sm font-medium text-white">SVG SIZE :</span>
                <div class="flex items-center mr-4 space-x-2">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setWidth(-1)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-32 outline-none h-8 px-4 focus:ring-2 focus:ring-amber-400 rounded-full"
                        [(ngModel)]="selectedWidth" [ngModelOptions]="{standalone: true}" (input)="setWidth(0)">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setWidth(1)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="h-9 w-9 cursor-pointer rounded-full border-4 shadow" [(colorPicker)]="selectedSvgColor!"
                    [cpPosition]="'bottom'" (colorPickerChange)="setSvgColor()" [style.background]="selectedSvgColor">
                </div>
            </ng-container>

            <!-- Image Editing Options -->
            <ng-container *ngSwitchCase="2">
                <span class="text-sm font-medium text-white">WIDTH : </span>
                <div class="flex items-center !mr-8 space-x-2">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setWidth(-1)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-32 outline-none h-8 px-4 focus:ring-2 focus:ring-amber-400 rounded-full"
                        [(ngModel)]="selectedWidth" [ngModelOptions]="{standalone: true}" (input)="setWidth(0)">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setWidth(1)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <span class="mr-2 text-sm font-medium text-white">HEIGHT : </span>
                <div class="flex items-center mr-4 space-x-2">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setHeight(-1)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-32 outline-none h-8 px-4 focus:ring-2 focus:ring-amber-400 rounded-full"
                        [(ngModel)]="selectedHeight" [ngModelOptions]="{standalone: true}" (input)="setHeight(0)">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setHeight(1)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <input hidden type="file" id="actual-btn" (change)="selectFile($event, '')" />
                <label
                    class="!ml-10 relative cursor-pointer h-14 w-20 !bg-opacity-20 bg-white bg-contain bg-no-repeat bg-center border"
                    [style.backgroundImage]="'url(' + selectedImage + ')'" for="actual-btn">
                    <span
                        class="absolute flex justify-center text-xs opacity-50 items-center h-8 w-8 top-1 right-1 bg-black rounded-full">
                        <i class="fas fa-upload text-white"></i>
                    </span>
                </label>

            </ng-container>

            <!-- Text Editing Options -->
            <ng-container *ngSwitchCase="3">
                <div class="flex items-center mr-8">
                    <span class="text-sm text-white mr-4">FONT : </span>
                    <ng-select class="w-36" [(ngModel)]="selectedFont" (change)="setFontFamily()"
                        [ngModelOptions]="{standalone: true}" [clearable]="false" placeholder="Font Style">
                        <ng-option *ngFor="let font of fonts" [value]="font.id">
                            <span [style.fontFamily]="font.name">{{ font.display }}</span>
                        </ng-option>
                    </ng-select>
                </div>

                <span class="mr-4 text-sm text-white">SIZE : </span>
                <div class="flex items-center !mr-8 space-x-2">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setFontSize(-1)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-32 outline-none h-8 px-4 focus:ring-2 focus:ring-amber-400 rounded-full"
                        [(ngModel)]="selectedSize" [ngModelOptions]="{standalone: true}" (input)="setFontSize(0)">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setFontSize(1)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="flex items-center">
                    <button class="h-10 items-center flex px-4 mr-3 border-2 border-gray-300 text-white rounded"
                        [style.backgroundColor]="selectedFontColor" [(colorPicker)]="selectedFontColor!"
                        [cpPosition]="'bottom'" (colorPickerChange)="setFontColor()">
                        <i class="fas text-[10px] fa-font"></i>
                    </button>
                    <button class="h-10 w-10 mr-3 rounded"
                        [ngClass]="isFontBold ? 'bg-indigo-500 text-white' : 'bg-opacity-10 bg-gray-200 text-gray-300'"
                        (click)="setFontBold()">
                        <i class="fas fa-bold"></i>
                    </button>
                    <button class="h-10 w-10 mr-3 rounded"
                        [ngClass]="isFontItalic ? 'bg-indigo-500 text-white' : 'bg-opacity-10 bg-gray-200 text-gray-300'"
                        (click)="setFontItalic()">
                        <i class="fas fa-italic"></i>
                    </button>
                    <button class="h-10 w-10 rounded"
                        [ngClass]="isFontUnderline ? 'bg-indigo-500 text-white' : 'bg-opacity-10 bg-gray-200 text-gray-300'"
                        (click)="setFontUnderline()">
                        <i class="fas fa-underline"></i>
                    </button>
                </div>
            </ng-container>

            <!-- Line Editing Options -->
            <ng-container *ngSwitchCase="4">
                <span class="mr-2 text-sm font-semibold text-white">Thickness</span>
                <div class="flex items-center mr-4 space-x-2">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setThickness(-1)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-12 text-center border rounded" [(ngModel)]="selectedLineThickness"
                        [ngModelOptions]="{standalone: true}" (input)="setThickness(0)">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setThickness(1)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <span class="mr-2 text-sm font-semibold text-white">Width</span>
                <div class="flex items-center mr-4 space-x-2">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setLength(-1)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-12 text-center border rounded" [(ngModel)]="selectedLineLength"
                        [ngModelOptions]="{standalone: true}" (input)="setLength(0)">
                    <button class="bg-gray-200 hover:bg-gray-400 h-8 w-8 rounded-full" (click)="setLength(1)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="h-9 w-9 cursor-pointer rounded-full border-4 shadow" [(colorPicker)]="selectedLineColor!"
                    [cpPosition]="'bottom'" (colorPickerChange)="setLineColor()" [style.background]="selectedLineColor">
                </div>
                <button class="bg-green-500 hover:bg-green-600 p-2 rounded" (click)="toogleLineAlignment()">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <div class="w-36">
                    <ng-select [(ngModel)]="selectedLineStyle" (change)="setLineStyle()"
                        [ngModelOptions]="{standalone: true}" placeholder="Line Style">
                        <ng-option *ngFor="let lStyle of lineStyles" [value]="lStyle">
                            <div [style.borderBottom]="'2px ' + lStyle + ' gray'"
                                [style.borderColor]="selectedLineColor">
                                <span class="sr-only">{{ lStyle }}</span>
                            </div>
                        </ng-option>
                    </ng-select>
                </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <ng-container [ngTemplateOutlet]="empty"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</form>

<ng-template #empty>
    <div class="flex w-full items-center justify-center space-x-4">
        <i class="fas fa-info-circle text-gray-100 text-xl"></i>
        <h6 class="text-sm font-medium text-gray-300">Select an item to edit its details.</h6>
    </div>
</ng-template>