<div class="flex p-5 gap-5 justify-start flex-wrap">
  <div
    class="rounded-md shadow-sm border-l border-r border-[#eeeeee] w-[22%]"
    *ngFor="let card of itemList; let i = index"
  >
    <div class="relative">
      <img
        class="block h-[200px] object-cover w-full object-top rounded-t-md"
        [src]="card.imgsrc"
      />
      <p class="absolute top-2 right-2 bg-black text-white p-2 text-xs">
        {{ card.date | date }}
      </p>
      <div class="p-3">
        <h6 class="my-2">
          <b>{{ card.title }}</b>
        </h6>
        <p class="description mb-2 leading-5">{{ card.subtitle }}</p>
        <p class="mt-3 text-right">
          <span class="text-[#0493c2] text-xs">{{ card.designer }}</span>
        </p>
        <button
          class="mt-3 flex justify-between items-center font-normal bg-gradient-to-tr border-[1.5px] border-[#0493c2] text-[#0762b1] p-2 px-3 rounded-md w-full text-start hover:bg-[#0762b1c9] hover:text-white"
          routerLink="{{ i }}"
        >
          Use Design
          <i class="icons fas fa-pen-nib"></i>
        </button>
      </div>
    </div>
  </div>
</div>
