<div class="grid">
  <div class="grid__item" *ngFor="let card of itemList; let i = index">
    <div class="position-relative">
      <img class="card__img" [src]="card.imgsrc" />
      <p class="date-time description">{{ card.date | date }}</p>
      <div class="card__content">
        <h6 class="my-2">
          <b>{{ card.title }}</b>
        </h6>
        <p class="description mb-2">{{ card.subtitle }}</p>
        <p class="my-2">
          Via: <span class="text-info">{{ card.designer }}</span>
        </p>
        <button class="card__btn" routerLink="{{ i }}">
          Edit this design<span>&rarr;</span>
        </button>
      </div>
    </div>
  </div>
</div>
