<div class="bg-black">
  <div
    class="flex justify-between items-center w-[90%] py-3 m-auto text-slate-100"
  >
    <div c routerLink="/">
      <p
        class="flex items-end gap-3 leading-none font-semibold text-xl tracking-wider"
      >
        <img class="h-8" src="../../../../assets/logo.png" />
        GENERATE
      </p>
    </div>
    <div>
      <p class="tracking-wider">
        Powered by
        <a class="border-b hover:text-blue-200 cursor-pointer">APWEBWIZ.COM</a>
      </p>
    </div>
  </div>
</div>
