.top-bar {
    background-color: #ffffff;
    height: 50px;
}

.headings {
    font-weight: 300;
    cursor: pointer;
    color: gray;

}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: transparent;
}