<div class="bg-gradient-to-r from-black to-indigo-950">
  <div class="flex justify-between flex-wrap gap-y-3 items-center w-[90%] max-sm:px-6 max-sm:w-full py-3 m-auto text-slate-100">
    <div routerLink="/">
      <p class="flex items-center gap-3 leading-none font-semibold tracking-wider">
        <img class="h-6" src="../../../../assets/logo.svg" />
        GENERATE
      </p>
    </div>
    <div>
      <div class="flex gap-2 max-sm:!gap-4 items-center max-sm:text-sm">
        <img class="h-6" src="../../../../assets/love.svg" />
        <div>Designed & Developed by
          <a href="https://ananta-poudel.com.np/" class="hover:text-blue-400 font-semibold cursor-pointer">Ananta
            Poudel</a></div>
    </div>
  </div>
</div>