<div class="bg-gradient-to-r from-black via-zinc-900 to-black">
  <div class="flex justify-between items-center w-[90%] py-3 m-auto text-slate-100">
    <div c routerLink="/">
      <p class="flex items-center gap-3 leading-none font-semibold tracking-wider">
        <img class="h-6" src="../../../../assets/logo.svg" />
        GENERATE
      </p>
    </div>
    <div>
      <p class="flex gap-2 items-center">
        <img class="h-6" src="../../../../assets/love.svg" />
        Designed & Developed by
        <a href="https://ananta-poudel.com.np/" class="hover:text-blue-400 font-semibold cursor-pointer">Ananta
          Poudel</a>
      </p>
    </div>
  </div>
</div>