.top-bar {
    background-color: #ffffff;
}

.headings {
    font-weight: 300;
    cursor: pointer;
    color: gray;

}

.logo {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    padding: 10px 0px;
    align-items: center;

}