/* Navigation menu Css */
.navigation-menu {
    top: 50px;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 30px #0a223557
}

.navigation-menu-item {
    padding: 13px;
    cursor: pointer;
    transition: 1s;
}

.navigation-menu-item:hover {
    background-color: #ffea65;
    transition: 1s;
}

.backto {
    height: 50px;
    background-color: var(--light);
}

.backto:hover {
    background-color: #d16ef94e;
}

/* End Nav css */

/* Off Canvas */
.offcanvas-header {
    box-shadow: 0px 3px 10px 0px #bababa;
}

.offcanvas-title {
    font-family: 'Dancing script';
}

.svg-templates {
    display: flex;
    flex-wrap: wrap;
}

.svg-template-item {
    padding: 8px;
    border: 1px solid #f4f4f4;
    margin: 5px;
    box-shadow: 0px 0px 10px rgb(234 234 234);
    cursor: pointer;
    border-radius: 5px;
}

.text-element {
    padding: 20px 0px;
    border-bottom: 2px solid rgb(237, 237, 237);
}

.image-template-card {
    display: flex;
    box-shadow: 0px 0px 10px #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.image-template-src {
    width: 40%;
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.image-template-property {
    padding: 20px;
}

.line-card {
    align-items: center;
    justify-content: space-between;
    padding: 10px !important;
    box-shadow: 0px 0px 10px #e3e2e2;
    border-radius: 5px;
}