/* Context menu css */
.right-container {
    position: fixed;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px #00000057;
    z-index: 5;
}

.context-menu {
    padding-left: 20px;
    color: var(--primary);
    background-color: white;
}

.context-menu-item {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1s;
    color: var(--gray);
}

.context-sub-menu-top {
    color: var(--primary);
    padding: 15px;
    border-bottom: 1px solid rgb(209, 209, 209);
    cursor: pointer;
}

.context-sub-menu-bottom {
    color: var(--danger);
    padding: 15px;
    border-top: 1px solid rgb(209, 209, 209);
    cursor: pointer;
}

.context-menu-item:hover {
    transition: 0.5s;
    color: #0a2235;
}

/*  End context menu css */