<ng-container *ngFor="let block of blocks">

    <!-- Single Select -->
    <!-- <div *ngIf="renameValues.includes(block.newName) else otherSelectedOption">
        <app-select [items]="renameWithOtherValues" [clearable]="false" [searchable]="false"
            placeholder="Select an item" [ngModel]="block.newName" (ngModelChange)="changed(block,$event)">
        </app-select>
    </div>

    <ng-template #otherSelectedOption>
        <app-select [showWhenNotExist]="'Others'" [items]="renameValues" [clearable]="false" [searchable]="false"
            placeholder="Select an item" [(ngModel)]="block.newName" (ngModelChange)="changed(block,$event)">
        </app-select>
        <input class="p-2 border rounded" type="text" [(ngModel)]="block.newName"
            (ngModelChange)="changed(block,$event)" />
    </ng-template>


    <br /> -->

    <!-- Multiple Select -->
    <!-- <app-select [multiple]="true" [items]="leadOptions" [clearable]="false" [searchable]="false"
        placeholder="Select an item" [(ngModel)]="block.leadOptions" (ngModelChange)="changed(block,$event)">
    </app-select> -->


    <br />
    <!-- What to do  -->
    <!-- 1. Create select-scss file to separate the styles & import in styles.scss
    2. change the component select from single to mulitple select
    3. Use ng-select wherever we can
    4. Use app-multiple-select wherever needed -->
</ng-container>


<gen-card-collection [itemList]="presets"></gen-card-collection>