<!-- Navigation Menu which is in left side -->
<ul class="navigation-menu">
    <li routerLink="/banner" class="navigation-menu-item backto">
        <i class="mr-3 fas fa-arrow-left"></i>Back to List
    </li>
    <li class="navigation-menu-item" (click)="open(content,3)"><i class="mr-3 fas fa-font"></i>Text</li>
    <li class="navigation-menu-item" (click)="open(content,2)"><i class="mr-3 fas fa-image"></i>Image</li>
    <li class="navigation-menu-item" (click)="open(content,1)"><i class="mr-3 fas fa-shapes"></i>Shape</li>
    <li class="navigation-menu-item" (click)="open(content,4)"><i class="mr-3 fas fa-vector-square"></i>Line</li>
</ul>
<!-- End Left Navigation menu -->

<!-- Element Editor tab -->
<form class="form-inline editor-tab">
    <ng-container [ngSwitch]="selectedElementType">
        <!-- SVG -->
        <ng-container *ngSwitchCase="1">
            <!-- SVG Height Size selector, Increment, Decrement -->
            <span class="mr-2 font-bold">Size</span>
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-light editor-btn mr-1" (click)="setWidth(-1)"><i
                        class="fas fa-minus"></i></button>
                <input [style.width.px]="80" style="height:100%;" [(ngModel)]="selectedWidth"
                    [ngModelOptions]="{standalone: true}" (input)="setWidth(0)" class="form-control">
                <button class="btn btn-light editor-btn ml-1" (click)="setWidth(1)"><i class="fas fa-plus"></i></button>
            </div>
            <!-- SVG Color and styles -->
            <div class="svg-color" [(colorPicker)]="selectedSvgColor!" [cpPosition]="'bottom'"
                (colorPickerChange)="setSvgColor()" [style.background]="selectedSvgColor">
            </div>
        </ng-container>
        <!-- IMAGE -->
        <ng-container *ngSwitchCase="2">
            <!-- IMAGE Height selector, Increment, Decrement -->
            <span class="mr-2 font-bold">Width</span>
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-light editor-btn mr-1" (click)="setWidth(-1)"><i
                        class="fas fa-minus"></i></button>
                <input [style.width.px]="80" style="height:100%;" [(ngModel)]="selectedWidth"
                    [ngModelOptions]="{standalone: true}" (input)="setWidth(0)" class="form-control">
                <button class="btn btn-light editor-btn ml-1" (click)="setWidth(1)"><i class="fas fa-plus"></i></button>
            </div>
            <!-- IMAGE Width selector, Increment, Decrement -->
            <span class="mr-2 font-bold">Height</span>
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-light editor-btn mr-1" (click)="setHeight(-1)"><i
                        class="fas fa-minus"></i></button>
                <input [style.width.px]="80" style="height:100%;" [(ngModel)]="selectedHeight"
                    [ngModelOptions]="{standalone: true}" (input)="setHeight(0)" class="form-control">
                <button class="btn btn-light editor-btn ml-1" (click)="setHeight(1)"><i
                        class="fas fa-plus"></i></button>
            </div>
            <!-- Changing Image -->
            <input hidden type="file" id="actual-btn" (change)="selectFile($event,'')" />
            <label style="background-image: Url('{{selectedImage}}');" class="btn text-white image-back"
                for="actual-btn"></label>
        </ng-container>
        <!-- TEXT -->
        <ng-container *ngSwitchCase="3">
            <!-- Font Family Selector -->
            <div class="mr-2" style="height:70%">
                <ng-select [style.width.px]="150" [(ngModel)]="selectedFont" (change)="setFontFamily()"
                    [ngModelOptions]="{standalone: true}" placeholder="Font Style">
                    <ng-option *ngFor="let font of fonts" [value]="font.id"><span
                            [style.fontFamily]="font.name">{{font.display}}</span></ng-option>
                </ng-select>
            </div>
            <!-- Font Size selector, Increment, Decrement -->
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-light editor-btn mr-1" (click)="setFontSize(-1)"><i
                        class="fas fa-minus"></i></button>
                <input [style.width.px]="80" style="height:100%;" [(ngModel)]="selectedSize"
                    [ngModelOptions]="{standalone: true}" (input)="setFontSize(0)" class="form-control">
                <button class="btn btn-light editor-btn ml-1" (click)="setFontSize(1)"><i
                        class="fas fa-plus"></i></button>
            </div>
            <!-- Font color and styles -->
            <div class="btn-group mr-2" style="height:70%">
                <button class="btn editor-btn" [(colorPicker)]="selectedFontColor!" [cpPosition]="'bottom'"
                    (colorPickerChange)="setFontColor()">
                    <i [style.borderBottom]="'5px solid'" [style.borderColor]="selectedFontColor"
                        class="fas fa-font"></i></button>
                <button class="btn fw-bolder" [ngClass]="isFontBold?'btn-selected':'editor-btn'"
                    (click)="setFontBold()">
                    <i class="fas fa-bold"></i></button>
                <button class="btn fst-italic" [ngClass]="isFontItalic?'btn-selected':'editor-btn'"
                    (click)="setFontItalic()">
                    <i class="fas fa-italic"></i></button>
                <button class="btn text-decoration-underline" [ngClass]="isFontUnderline?'btn-selected':'editor-btn'"
                    (click)="setFontUnderline()">
                    <i class="fas fa-underline"></i></button>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="4">
            <!-- Line Thickness Size selector, Increment, Decrement -->
            <span class="mr-2 font-bold">Height</span>
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-light editor-btn mr-1" (click)="setThickness(-1)"><i
                        class="fas fa-minus"></i></button>
                <input [style.width.px]="50" style="height:100%;" [(ngModel)]="selectedLineThickness"
                    [ngModelOptions]="{standalone: true}" (input)="setThickness(0)" class="form-control">
                <button class="btn btn-light editor-btn ml-1" (click)="setThickness(1)"><i
                        class="fas fa-plus"></i></button>
            </div>
            <!-- Line Thickness Size selector, Increment, Decrement -->
            <span class="mr-2 font-bold">Width</span>
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-light editor-btn mr-1" (click)="setLength(-1)"><i
                        class="fas fa-minus"></i></button>
                <input [style.width.px]="50" style="height:100%;" [(ngModel)]="selectedLineLength"
                    [ngModelOptions]="{standalone: true}" (input)="setLength(0)" class="form-control">
                <button class="btn btn-light editor-btn ml-1" (click)="setLength(1)"><i
                        class="fas fa-plus"></i></button>
            </div>
            <!-- Line Color and styles -->
            <div class="line-color mx-2" [(colorPicker)]="selectedLineColor!" [cpPosition]="'bottom'"
                (colorPickerChange)="setLineColor()" [style.background]="selectedLineColor">
            </div>
            <div class="btn-group mr-2 input-group-sm" style="height:70%">
                <button class="btn btn-success ml-1" (click)="toogleLineAlignment()"><i
                        class="fas fa-sync"></i></button>
            </div>
            <!-- Line Style Selector -->
            <div class="ml-2" style="height:70%">
                <ng-select [style.width.px]="150" [(ngModel)]="selectedLineStyle" (change)="setLineStyle()"
                    [ngModelOptions]="{standalone: true}" placeholder="Line Style">
                    <ng-option class="display-nothing" *ngFor="let lStyle of lineStyles" [value]="lStyle"><div
                            [style.border-bottom]="'5px '+ lStyle +' gray'" [style.border-color]="selectedLineColor">
                            <span  class="display-nothing">{{lStyle}}</span>
                        </div></ng-option>
                </ng-select>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <h6 class="mb-0 text-uppercase empty-editor">Select anything to edit it.</h6>
        </ng-container>
    </ng-container>

</form>
<!-- End Editor tab -->

<!-- Container containing Main Editor -->
<div class="container" (click)="closeContextMenu()">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="custom-tab-content flex-column flex-md-row">
                <ul ngbNav #nav="ngbNav" class="nav navbar-light nav-pills justify-content-center">

                    <!--  Front Side of Visitng Card -->
                    <li ngbNavItem class="nav-item" (click)="selectFrontSide()">
                        <ng-template ngbNavContent>
                            <div class="front-side">
                                <div class="editor" id="f-image-section" [style.height.px]="itemHeight"
                                    [style.width.px]="itemWidth" (mouseup)="detectMouseClick($event,'','')">
                                    <div class="position-relative">
                                        <ng-container *ngFor="let content of bannerContent">
                                            <!-- For Svg -->
                                            <div *ngIf="content.type==1" id="{{content.id}}"
                                                class="position-absolute remove-outline cursor-pointer"
                                                (mouseup)="detectMouseClick($event,'f',content.id)"
                                                [style.left.px]="content.left" [style.top.px]="content.top"
                                                [style.width.px]="content.width"
                                                [ngClass]="selectedElementId==content.id?'bordering':''">
                                                <svg [attr.fill]="content.svgFillColor"
                                                    [attr.viewBox]="content.svgViewBox">
                                                    <path [attr.d]="content.svgPath" />
                                                </svg>
                                            </div>
                                            <!-- For Image -->
                                            <img *ngIf="content.type==2" id="{{content.id}}"
                                                class="position-absolute remove-outline cursor-pointer"
                                                (mouseup)="detectMouseClick($event,'f',content.id)"
                                                [style.left.px]="content.left" [style.top.px]="content.top"
                                                [style.width.px]="content.width"
                                                [ngClass]="selectedElementId==content.id?'bordering':''"
                                                [style.height.px]="content.height" src="{{content.src}}" />
                                            <!-- For Text -->
                                            <div *ngIf="content.type==3" id="{{content.id}}"
                                                class="position-absolute remove-outline"
                                                (mouseup)="detectMouseClick($event,'f',content.id)"
                                                [ngClass]="selectedElementId==content.id?'bordering':''"
                                                [style.left.px]="content.left" [style.top.px]="content.top"
                                                [style.fontSize.px]="content.fontSize"
                                                [style.fontWeight]="content.bold?'bold':'normal'"
                                                [style.fontStyle]="content.italic?'italic':'normal'"
                                                [style.textDecoration]="content.underline?'underline':'none'"
                                                [style.fontFamily]="content.fontFamily?fonts[content.fontFamily-1]:''"
                                                [style.color]="content.fontColor">
                                                {{content.text}}
                                            </div>
                                            <!-- For Line -->
                                            <hr *ngIf="content.type==4" id="{{content.id}}"
                                                (mouseup)="detectMouseClick($event,'f',content.id)"
                                                [ngClass]="selectedElementId==content.id?'bordering-fill':''"
                                                class="position-absolute cursor-pointer remove-outline opacity-100 bg-transparent"
                                                [style.left.px]="content.left" [style.top.px]="content.top"
                                                [style.color]="content.lineColor" [style.width.px]="content.length"
                                                [style.height.px]="content.thickness" [style.border]="'none'"
                                                [style.border-top]="content.length!>content.thickness!?content.thickness!+'px '+content.lineStyle!:'0px'"
                                                [style.border-left]="content.thickness!>content.length!?content.length!+'px '+content.lineStyle!:'0px'">
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between" [style.width.px]="itemWidth">
                                    <button class="btn btn-primary mt-3" (click)="downloadJpg('f')"
                                        [style.width.px]="itemWidth/2-5"><i class="fas fa-download mr-4"></i>Download
                                        JPEG</button>
                                    <button class="btn btn-danger mt-3" (click)="downloadSvg('f')"
                                        [style.width.px]="itemWidth/2-5"><i class="fas fa-download  mr-4"></i>Download
                                        SVG</button>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <!--  End Front side of Visiting Card -->
                    <!-- End Bak side of Visiting card -->

                </ul>
            </div>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>

<!-- New RightClickPanel-->
<div class="right-container" [style.display]="showRightClickPanel" [style.top.px]=rightClickPanelY
    [style.left.px]=rightClickPanelX>
    <div class="context-sub-menu-top">
        <p [style.opacity]="copiedElement==undefined?'0.5':'1'" (click)="pasteElement()"><i
                class="fas fa-paste mr-2 pb-3"></i>Paste</p>
        <p [style.opacity]="copiedElement==undefined?'0.5':'1'" (click)="pasteProperty()"><i
                class="fas fa-paste mr-2"></i>Paste Properties</p>
    </div>
    <ul *ngIf="selectedElementId!=0" class="context-menu">
        <li class="context-menu-item" (click)="copyElementOrProperty(0)"><span class="context-menu-item-text"><i
                    class="fas fa-copy mr-2"></i>Copy</span>
        </li>
        <li class="context-menu-item" (click)="copyElementOrProperty(1)"><span class="context-menu-item-text"><i
                    class="fas fa-clone mr-2"></i>Copy
                Properties</span></li>
        <li class="context-menu-item" (click)="sendElementBack()"><span class="context-menu-item-text"><i
                    class="fas fa-angle-double-left mr-2"></i>Send to Back</span></li>
        <li class="context-menu-item" (click)="bringElementForward()"><span class="context-menu-item-text"><i
                    class="fas fa-angle-double-right mr-2"></i>Bring to Front</span></li>
    </ul>
    <p [style.opacity]="selectedElementId==0?'0.5':'1'" class="context-sub-menu-bottom" (click)="deleteElement()"><i
            class="fas fa-trash-alt mr-2"></i>Delete</p>
</div>
<!-- End RightClickPanel -->

<!-- Off Canvas -->
<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title" [ngSwitch]="addElementType">
            <span *ngSwitchCase="1">
                Choose Svg
            </span>
            <span *ngSwitchCase="2">
                Upload Image
            </span>
            <span *ngSwitchCase="3">
                Choose Text
            </span>
            <span *ngSwitchCase="4">
                Choose Line
            </span>
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body" [ngSwitch]="addElementType">
        <form *ngSwitchCase="1">
            <div class="svg-templates">
                <div class="svg-template-item" *ngFor="let svg of svgTemplates;let i=index;"
                    [style.width.px]="svg.width" (click)="addSvg(i)">
                    <svg [attr.fill]="svg.svgFillColor" [attr.viewBox]="svg.svgViewBox">
                        <path [attr.d]="svg.svgPath" />
                    </svg>
                </div>
            </div>
        </form>
        <form *ngSwitchCase="2">
            <div class="image-template-card cursor-pointer" *ngFor="let image of imageTemplates;let i=index;"
                for="image-template-btn" (click)="addImage(i)">
                <input hidden type="file" id="image-template-btn" (change)="selectFile($event,i)" />
                <img class="image-template-src" [src]="image.src">
                <div class="image-template-property">
                    <pre class="mb-2 overflow-hidden">Height: {{image.height}}</pre>
                    <pre class="overflow-hidden">Width:  {{image.width}}</pre>
                </div>
            </div>
        </form>
        <form *ngSwitchCase="3">
            <div class="text-element cursor-pointer" *ngFor="let text of textTemplates;let i=index;"
                (click)="addText(i)">
                <p [style.fontSize.px]="text.fontSize" [style.fontWeight]="text.bold?'bold':'normal'"
                    [style.fontStyle]="text.italic?'italic':'normal'"
                    [style.textDecoration]="text.underline?'underline':'none'"
                    [style.fontFamily]="text.fontFamily?fonts[text.fontFamily-1]:''" [style.color]="text.fontColor">
                    {{text.text}}
                </p>
            </div>
        </form>
        <form *ngSwitchCase="4">
            <div *ngFor="let line of lineTemplates;let i=index;" class="d-flex line-card mb-2">
                <div [style.width.px]="line.length"
                    [style.border-bottom]="line.thickness+'px '+line.lineColor+' '+line.lineStyle">
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning btn-sm mr-2" (click)="addLine('h',i)"><i
                            class="fas fa-grip-lines"></i></button>
                    <button class="btn btn-primary btn-sm" (click)="addLine('v',i)"><i
                            class="fas fa-grip-lines-vertical"></i></button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-- End Off Canvas -->
