<div
  class="max-xl:flex relative hidden h-screen w-screen flex-col justify-center items-center bg-gray-100 overflow-hidden">
  <!-- Icon -->
  <div class="flex justify-center items-center mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-indigo-600" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M12 18c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z" />
    </svg>
  </div>

  <!-- Main Message -->
  <p class="text-center text-lg font-semibold text-gray-600">Feature Unavailable on Mobile</p>

  <!-- Subtitle -->
  <p class="text-center text-sm text-gray-500 mt-2 px-3">
    This feature is only accessible on larger screens. Please switch to a desktop or tablet for the best experience.
  </p>

  <!-- Gradient Blurs -->
  <div
    class="rounded-full w-[400px] h-[400px] absolute -right-32 -top-32 opacity-40 bg-gradient-to-tr from-purple-600 via-indigo-600 to-red-600 blur-3xl">
  </div>

  <div
    class="rounded-full w-[400px] h-[400px] absolute -left-32 -bottom-32 opacity-40 bg-gradient-to-bl from-purple-600 via-indigo-600 to-red-600 blur-3xl">
  </div>
</div>



<div class="max-xl:hidden">
  <!-- Side Navigation -->
  <gen-sidenav [content]="content" (loadDrops)="callBackFromChild($event)" (downloadJpg)="downloadJpg()"
    (downloadSvg)="downloadSvg()" (addNewContent)="addNewContent()"
    (updateExistingContent)="updateExistingContent()"></gen-sidenav>
  <!-- End Side Navigation -->

  <!-- Element Editor tab -->
  <gen-editor-tab [content]="content" [selectedElementId]="selectedElementId"></gen-editor-tab>
  <!-- End Editor tab -->

  <!-- Container Main Editor -->
  <div class="flex flex-col justify-center w-full bg-gray-200 items-center min-h-[calc(100vh-64px)]"
    oncontextmenu="return false;" (click)="closeContextMenu($event)">
    <div class="flex justify-center">
      <div class="w-full max-w-5xl">
        <div class="flex flex-col md:flex-row">
          <div>
            <div class="relative bg-white overflow-hidden" id="image-section" [style.height.px]="height"
              [style.width.px]="width" (mouseup)="detectMouseClick($event)">
              <gen-element-container [cardContent]="content" [selectedElementId]="selectedElementId"
                (elementSelectorFunction)="detectMouseClick($event)">
              </gen-element-container>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Editor -->

  <!-- New RightClickPanel -->
  <gen-right-click-container [content]="content" [showRightClickPanel]="showRightClickPanel"
    [rightClickPanelY]="rightClickPanelY" [rightClickPanelX]="rightClickPanelX" [positionX]="positionX"
    [positionY]="positionY" [selectedElementId]="selectedElementId" (loadDrops)="callBackFromChildRightClick($event)">
  </gen-right-click-container>
  <!-- End RightClickPanel -->
</div>