<!-- Side Navigation -->
<gen-sidenav [content]="content" (loadDrops)="callBackFromChild($event)"></gen-sidenav>
<!-- End Side Navigation -->

<!-- Element Editor tab -->
<gen-editor-tab [content]="content" [selectedElementId]="selectedElementId"></gen-editor-tab>
<!-- End Editor tab -->

<!-- Container Main Editor -->
<div class="flex flex-col justify-center w-full items-center min-h-[calc(100vh-50px)]" oncontextmenu="return false;"
  (click)="closeContextMenu($event)">
  <div class="flex justify-center">
    <div class="w-full max-w-5xl">
      <div class="flex flex-col md:flex-row">
        <div>
          <div class="relative bg-white shadow-lg overflow-hidden" id="image-section" [style.height.px]="height"
            [style.width.px]="width" (mouseup)="detectMouseClick($event)">
            <gen-element-container [cardContent]="content" [selectedElementId]="selectedElementId"
              (elementSelectorFunction)="detectMouseClick($event)">
            </gen-element-container>
          </div>
          <div class="flex justify-between mt-3" [style.width.px]="width">
            <button class="w-1/2 mr-1 bg-blue-500 text-white py-2 rounded-lg shadow-lg" (click)="downloadJpg()">
              <i class="fas fa-download mr-2"></i>Download JPEG
            </button>
            <button class="w-1/2 ml-1 bg-red-500 text-white py-2 rounded-lg shadow-lg" (click)="downloadSvg()">
              <i class="fas fa-download mr-2"></i>Download SVG
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main Editor -->

<!-- New RightClickPanel -->
<gen-right-click-container [content]="content" [showRightClickPanel]="showRightClickPanel"
  [rightClickPanelY]="rightClickPanelY" [rightClickPanelX]="rightClickPanelX" [positionX]="positionX"
  [positionY]="positionY" [selectedElementId]="selectedElementId" (loadDrops)="callBackFromChildRightClick($event)">
</gen-right-click-container>
<!-- End RightClickPanel -->